.card_regional {
	border-radius:5px;
	background:#fff;
	@include shadow(10px,0.05);
	padding: 20px;
	h2 {
		font-size: 18px;
		color: $black;
	}
	.mail {
		font-size: 12px;
		color: $abu1;
	}
	.info {
		border: 1px solid $abu3;
		border-radius:5px;
		margin-top: 15px;
		.active,
		.past {
			width: calc(50% - 51px);
			padding: 10px 25px;
			float: left;
			font-size: 13px;
			border-right:1px solid $abu3;
			color: $black;
			strong {
				color: $blue;
				font-size: 22px;
				display: block;
			}
		}
		.past {
			border-right:0;
			strong {
				color: $red;
			}
		}
		&:hover {

		}
	}
}
.list_attach {
	font-size:12px;
	height: 20px;
	line-height:20px;
	.ico {
		background:$blue2;
		height: 12px;
		padding: 5px;
		float: left;
		margin-right: 15px;
		border-radius:3px;
		img {
			height: 100%;
		}
	}
}
.list_history {
	margin:0;
	padding:0;
	list-style:none;
	position: relative;
	overflow-y: scroll;
	height:calc(100% - 30px);
	li {
		padding: 10px 15px 0;
		position: relative;
		.date {
			float: left;
			background:#FDD600;
			width: 40px;
			padding: 5px;
			text-align: center;
			color: #000;
			font-size: 12px;
			position: relative;
			z-index: 2;
			border: 3px solid #EEF1F3;
			strong {
				display: block;
				text-align: center;
				font-size: 15px;
			}
		}
		.line {
			position: absolute;
			height: 100%;
			width: 5px;
			background:#FDD600;
			left: 41px;
		}
		.info_history {
			float: right;
			width: calc(100% - 65px);
			.list_time {
				background:#fff;
				padding: 7px 12px;
				border-radius:5px;
				margin-bottom: 10px;
				text-align: left;
				font-size: 12px;
				color: #000;
				.time {
					font-size: 11px;
					color: #7A7A7A;
				}
			}
		}
	}
}