@font-face { 
	font-family: avenirff; 
	src: url('../fonts/AvenirNext-Regular.ttf'); 
	font-weight: normal;
}
@font-face { 
	font-family: avenirff; 
	src: url('../fonts/AvenirNext-DemiBold.ttf'); 
	font-weight: bold;
}


