.cover_login {
	background-color:#F2FBFF;
	background-size: cover;
}
.wp_login {
	width:400px;
	background: url(../img/login_bg_box.png) bottom center no-repeat #fff;
	margin:0 auto;
	padding:20px;
	padding-bottom: 100px;
	text-align:center;
	color: #000;
	border-radius:20px;
	-webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 2px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 2px 15px 0px rgba(0, 0, 0, 0.1);
	h1 {
		font-size: 24px;
		margin: 10px 0;
	}
	.logo_login {
		height: 70px;
		margin-top: 20px;
	}
	.link_bot {
		margin-top: 20px;
		a {
			color: #000;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}
.login_box {
	.text_input {
		overflow: hidden;
		margin-top: 10px;
		text-align: left;
		padding: 0 30px;
		strong {
			display: block;
			color: #000;
			font-size: 13px;
			text-transform: uppercase;
			padding: 15px 0 5px;
		}
	}
	.input,
	select{
		background: transparent !important;
		padding: 5px 0;
		border: 0;
		width: 100%;
		margin: 0;
		outline: none;
		font-size: 18px;
		font-family:gotam, Helvetica, Arial, sans-serif;
		color: #000;
		margin-bottom: 10px;
		border-bottom: 1px solid #eee;
		border-radius: 0;
	}
	.input {
		border-bottom: 1px solid #eee;
		color: #000;
		&::selection {
			background: #2ecc71;
		}
	}
	select {
		margin-left: 4px;
	}
	.btn_login {
		width: 60%;
		padding: 15px 0;
		background: #090;
		border:1px solid #008100;
		color: #fff;
		font-family:gotam, Helvetica, Arial, sans-serif;
		font-size: 18px;
		border: 0;
		border-radius: 10px;
		cursor: pointer;
		font-weight: bold;
		outline: none;
		&:hover {
			background: #008100;
		}
	}
}
input:-webkit-autofill {
    background: #000 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000;
}

.notif {
	background: rgba(255,0,0,0.7);
	color:#fff;
	padding: 10px 20px;
	font-size:13px;
	border-radius: 10px;
	margin: 20px 0;
	font-weight:bold;
}