.notification_box {
	position: fixed;
	right:0;
	top:70px;
	width: 280px;
	background:#fff;
	height:calc(100% - 70px);
	@include shadow(10px,0.15);
	.nb_head {
		margin: 30px;
		font-size: 14px;
		color: $abu1;
		.icon {
			width: 56px;
			height: 56px;
			background:$blue;
			border-radius: 5px;
			text-align: center;
			position: relative;
			float: left;
			margin-right: 20px;
			img {
				height: 30px;
				margin-top: 12px;
			}
			.num {
				position: absolute;
				top: -7px;
				right: -7px;
				background:$red;
				color: #fff;
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				font-size: 11px;
				border-radius:100px;
				font-weight: bold;
			}
		}
		strong {
			display: block;
			font-size: 15px;
			color: $black;
			padding-top: 10px;
		}
	}
	.list_notif_box {
		position: absolute;
		height: calc(100% - 110px);
		overflow-y: scroll;
		.list_notif {
			padding: 10px 15px 10px 30px;
			font-size: 13px;
			font-weight: 200;
			position: relative;
			.bullet {
				width: 6px;
				height: 6px;
				border-radius:100px;
				border:4px solid $green2;
				position: absolute;
				background:#fff;
				z-index: 2;
				top: 32px;
			}
			.line {
				position: absolute;
				background:$abu3;
				left: 35px;
				height: 100%;
				width: 3px;
			}
			.time {
				margin-left: 25px;
				font-size: 12px;
				color: $black;
				margin-bottom: 5px;
			}
			.info {
				margin-left: 25px;
				strong {
					color: $red;
				}
				.il {
					float: left;
					width: 60px;
				}
			}
			&:first-child {
				.bullet {
					border-color:$abu2;
					background:$abu2;
					top: 0;
				}
			}
		}
	}
}