@font-face {
  font-family: truenoff;
  src: url("../fonts/TruenoRg.otf");
}

@font-face {
  font-family: truenoff;
  src: url("../fonts/TruenoLt.otf");
  font-weight: 100;
}

@font-face {
  font-family: truenoff;
  src: url("../fonts/TruenoSBd.otf");
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.mr20 {
  margin-right: 20px;
}

.mt5 {
  margin-top: 5px;
}

.box_img {
  display: block;
  position: relative;
  width: 100%;
}

.box_img:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

/* Other ratios */
.ratio2_1:before {
  padding-top: 50%;
}

.ratio3_1:before {
  padding-top: 40%;
}

.ratio4_1:before {
  padding-top: 25%;
}

.ratio1_2:before {
  padding-top: 200%;
}

.ratio4_3:before {
  padding-top: 75%;
}

.ratio5_3:before {
  padding-top: 65%;
}

.ratio3_4:before {
  padding-top: 133%;
}

.ratio16_9:before {
  padding-top: 56.25%;
}

.ratio9_16:before {
  padding-top: 178%;
}

.ratio9_8:before {
  padding-top: 85%;
}

.ratio6_2:before {
  padding-top: 40%;
}

.m10 {
  margin: 10px;
}

.img_con {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Styling */
  text-align: center;
  vertical-align: center;
  overflow: hidden;
}

.img_con img {
  height: 100%;
}

.img_con iframe {
  height: 100%;
  width: 100%;
}

.col2,
.col3,
.col4,
.col5,
.col6,
.col7 {
  float: left;
}

.col2 {
  width: 50%;
}

.col3 {
  width: 33.3%;
}

.col4 {
  width: 25%;
}

.col5 {
  width: 20%;
}

.col6 {
  width: 66,6%;
}

.col7 {
  width: 75%;
}

.btn {
  padding: 10px 20px;
  background: red;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
}

.btn img {
  float: right;
  height: 10px;
  margin-left: 20px;
  position: relative;
  top: 3px;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.btn.btn_big {
  padding: 15px 40px;
}

.btn.btn_black {
  background: #000;
  color: #fff;
}

.btn.btn_red {
  background: red;
  color: #fff;
}

.btn.btn_red:hover {
  background: #000;
  color: #fff;
}

.btn.btn_grey {
  background: #aaa;
  color: #fff;
}

.btn.btn_grey:hover {
  background: #000;
  color: #fff;
}

.btn.btn_full {
  padding: 10px 0;
  width: 100%;
  margin: 10px 0;
}

.bgfloat {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat_w {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop_w2 {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.graddown {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

@keyframes slideUp {
  from {
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes login {
  from {
    background-size: 160%;
  }
  to {
    background-size: 190%;
  }
}

@keyframes slideUpdua {
  from {
    bottom: -400px;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideUp_ {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: 0;
  }
  to {
    top: -100px;
  }
}

@keyframes logohover {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Chrome, Safari, Opera */
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
  }
}

@keyframes rotate {
  from {
    opacity: 0;
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Chrome, Safari, Opera */
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 0;
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
  }
}

@keyframes fadeindua {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 0.5s;
}

.animateout {
  animation-name: fadeout;
  animation-duration: 0.5s;
}

.animatein {
  animation-name: fadein;
  animation-duration: 0.5s;
}

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button.victoria-one {
  border: 2px solid #D24D57;
}

a.animated-button.victoria-one:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 20px;
  padding-bottom: 20px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}

#header .logo {
  float: left;
  height: 55px;
}

#header .logo img {
  height: 100%;
}

#header #nav {
  float: right;
  margin-top: 5px;
}

#header #nav a {
  float: left;
  padding: 13px 5px;
  margin: 0 20px;
  color: #fff;
}

#header #nav a.btn_download {
  margin-left: 50px;
  padding: 13px 25px;
  background: #138EE9;
  border-radius: 100px;
}

#header #nav a:hover {
  border-bottom: 3px solid #fff;
}

#header.reguler {
  background: #2BC1F6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  position: relative;
}

#header.clean {
  background: none;
  position: absolute;
}

#footer {
  background: #2BC1F6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  color: #fff;
  margin-top: 150px;
}

#footer .start_now {
  padding: 0 150px;
}

#footer .start_now .phone_bottom {
  width: 200px;
  float: left;
  position: relative;
  margin-top: -100px;
}

#footer .start_now .text {
  float: right;
  width: calc(100% - 250px);
  font-size: 36px;
  font-weight: 100;
  padding-top: 30px;
}

#footer .start_now .text .download {
  margin-top: 30px;
}

#footer .start_now .text .download span {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}

#footer .start_now .text .download a {
  height: 50px;
  margin-right: 20px;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#footer .start_now .text .download a img {
  height: 100%;
}

#footer .start_now .text .download a:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

#footer .footer2 {
  font-size: 13px;
  color: #fff;
  position: relative;
  padding-bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 30px;
  margin-top: 30px;
}

#footer .footer2 .logo {
  height: 40px;
  display: inline-block;
}

#footer .footer2 .logo img {
  height: 100%;
}

#footer .footer2 #nav_foot {
  margin: 20px 0;
}

#footer .footer2 #nav_foot a {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#footer .footer2 #nav_foot a:hover {
  text-decoration: underline;
}

#footer .footer2 .sosmed {
  position: absolute;
  right: 0;
  top: 30px;
}

#footer .footer2 .sosmed span {
  display: block;
  margin-bottom: 10px;
}

#footer .footer2 .sosmed a {
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#footer .footer2 .sosmed a img {
  height: 100%;
}

#footer .footer2 .sosmed a:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

#footer.reguler {
  margin-top: 50px;
}

#footer.reguler .start_now {
  display: none;
}

body {
  font-family: truenoff, helvetica, arial, helvetica, arial;
  font-size: 14px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.hero_cover {
  overflow: hidden;
  background: #000;
  color: #fff;
}

.hero_cover .box_img {
  overflow: hidden;
}

.hero_cover .box_img .img_con {
  opacity: 0.5;
  z-index: 0;
}

.hero_cover .box_img .img_con iframe {
  height: 140%;
  width: 140%;
  left: -20%;
  top: -20%;
  position: absolute;
}

.hero_cover .box_img .title_cover {
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
}

.hero_cover .box_img .title_cover h3 {
  font-size: 24px;
}

.hero_cover .box_img .text {
  position: absolute;
  z-index: 2;
  height: 70%;
  bottom: 0;
  width: 100%;
}

.hero_cover .box_img .text .img {
  width: 400px;
  position: absolute;
  top: 0;
}

.hero_cover .box_img .text .img img {
  width: 100%;
}

.hero_cover .box_img .text .text2 {
  width: calc(100% - 500px);
  float: right;
  margin-top: 50px;
}

.hero_cover .box_img .text .text2 h1 {
  font-size: 50px;
  line-height: 130%;
  margin-bottom: 20px;
}

.hero_cover .box_img .text .text2 .tagline {
  font-size: 60px;
  margin: 30px 0;
  font-weight: bold;
}

.hero_cover .box_img .text .text2 .download {
  margin-top: 70px;
}

.hero_cover .box_img .text .text2 .download a {
  height: 50px;
  display: inline-block;
  margin-right: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero_cover .box_img .text .text2 .download a img {
  height: 100%;
}

.hero_cover .box_img .text .text2 .download a:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.hero_cover .box_img .text .text2 .desc {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 50px;
}

.hero_cover .box_img .text.text3 {
  text-align: center;
}

.hero_cover .box_img .text.text3 .title_cover {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}

.hero_cover .box_img .search_header {
  background: #fff;
  border-radius: 100px;
  padding: 10px 20px;
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.hero_cover .box_img .search_header input[type=text] {
  width: 80%;
  float: left;
  border: 0;
  outline: none;
  background: none;
  font-size: 15px;
  padding: 5px;
  font-family: truenoff, helvetica, arial;
}

.hero_cover .box_img .search_header input[type=submit] {
  float: right;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  background: none;
  background: url(../img/search.png) no-repeat center;
  background-size: 20px;
}

.btn_more {
  padding: 10px 40px 10px 30px;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: #60BBFF;
  /* Old browsers */
  background: -moz-linear-gradient(left, #60BBFF 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #60BBFF 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #60BBFF 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  position: relative;
  border-radius: 100px;
}

.btn_more:after {
  content: "";
  background: url(../img/arrow_next_white.png);
  width: 7px;
  height: 13px;
  background-size: cover;
  display: block;
  position: absolute;
  right: 15px;
  top: calc(50% - 7px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn_more:hover {
  background: #028FD5;
}

.btn_more:hover:after {
  right: 10px;
}

.about {
  position: relative;
  overflow: hidden;
  padding: 70px 0;
}

.about .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.about .img {
  float: left;
  width: 450px;
}

.about .text {
  float: right;
  width: calc(100% - 500px);
  font-weight: 100;
  padding-top: 40px;
}

.about .text h2 {
  font-size: 42px;
  font-weight: 100;
  margin-bottom: 20px;
}

.about .text .desc {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 150%;
}

.section {
  padding: 50px 0;
}

.page_title {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.page_title h2 {
  font-size: 42px;
  font-weight: 100;
}

.page_title:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 4px;
  background: #138EE9;
  margin-left: -50px;
  bottom: -20px;
}

.title2 {
  position: relative;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 60px;
}

.title2 h2 {
  font-size: 24px;
  font-weight: bold;
}

.title2:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 4px;
  background: #138EE9;
  left: 0;
  bottom: -20px;
}

.secure {
  background: #2BC1F6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  position: relative;
  color: #fff;
  text-align: center;
}

.secure .secure_info_area {
  position: relative;
}

.secure .secure_info_area .phone {
  width: 250px;
  position: absolute;
  left: calc(50% - 125px);
}

.secure .secure_info_area .phone img {
  width: 100%;
}

.secure .secure_info_area .circle {
  width: 420px;
  height: 420px;
  border-radius: 100%;
  border: 10px dotted #fff;
  display: inline-block;
  margin-top: 40px;
}

.secure .secure_info_area .info {
  position: absolute;
  width: 250px;
  text-align: right;
  font-size: 15px;
  font-weight: 100;
  height: 150px;
}

.secure .secure_info_area .info .t1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.secure .secure_info_area .info:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 100px;
  top: 70px;
}

.secure .secure_info_area .info_show .info:nth-child(1) {
  top: 50px;
  left: 50px;
}

.secure .secure_info_area .info_show .info:nth-child(1):before {
  right: -88px;
}

.secure .secure_info_area .info_show .info:nth-child(2) {
  top: 350px;
  left: 50px;
}

.secure .secure_info_area .info_show .info:nth-child(2):before {
  right: -69px;
  top: 13px;
}

.secure .secure_info_area .info_show .info:nth-child(3) {
  top: 20px;
  right: 50px;
  text-align: left;
}

.secure .secure_info_area .info_show .info:nth-child(3):before {
  left: -95px;
  top: 91px;
}

.secure .secure_info_area .info_show .info:nth-child(4) {
  top: 350px;
  right: 50px;
  text-align: left;
}

.secure .secure_info_area .info_show .info:nth-child(4):before {
  left: -74px;
  top: 21px;
}

.area_testimoni,
.area_promo {
  position: relative;
}

.area_testimoni .testi_next,
.area_testimoni .promo_next,
.area_promo .testi_next,
.area_promo .promo_next {
  position: absolute;
  width: 25px;
  top: calc(50% - 45px);
  right: -40px;
  z-index: 5;
  cursor: pointer;
}

.area_testimoni .testi_next:hover,
.area_testimoni .promo_next:hover,
.area_promo .testi_next:hover,
.area_promo .promo_next:hover {
  opacity: 0.7;
}

.area_testimoni .testi_prev,
.area_testimoni .promo_prev,
.area_promo .testi_prev,
.area_promo .promo_prev {
  position: absolute;
  width: 25px;
  top: calc(50% - 45px);
  left: -40px;
  z-index: 5;
  cursor: pointer;
}

.area_testimoni .testi_prev:hover,
.area_testimoni .promo_prev:hover,
.area_promo .testi_prev:hover,
.area_promo .promo_prev:hover {
  opacity: 0.7;
}

.paging_slide {
  text-align: center;
  margin: 20px 0;
}

.paging_slide span {
  display: none;
}

.paging_slide a {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #969696;
  margin: 3px;
  border-radius: 4px;
  background: #fff;
}

.paging_slide a:hover {
  background: #969696;
}

.paging_slide a.selected {
  background: #138EE9;
}

.promo {
  background: #F4F4F4;
}

.nav2 {
  text-align: center;
  margin-bottom: 30px;
}

.nav2 a {
  display: inline-block;
  padding: 10px 10px;
  margin: 0 10px;
  color: #000;
  font-size: 18px;
}

.nav2 a:hover, .nav2 a.selected {
  border-bottom: 4px solid #138EE9;
}

.nav2.nav2a a {
  font-size: 24px;
  font-weight: 100;
}

.bg_abu {
  background: #f4f4f4;
}

.area_promopage {
  position: relative;
  overflow: hidden;
}

.area_promopage .slide_next {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.area_promopage .slide_next:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

.area_promopage .slide_prev {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.area_promopage .slide_prev:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

.area_promopage .paging_slide {
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

.paging {
  text-align: center;
}

.paging a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100px;
  color: #000;
  font-size: 18px;
  margin: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.paging a:hover {
  background: #f4f4f4;
}

.paging a.selected {
  background: #138EE9;
  color: #fff;
}

.areaslide {
  position: relative;
}

.areaslide .slide1_prev,
.areaslide .slide1_next {
  position: absolute;
  top: calc(50% - 50px);
  width: 30px;
  z-index: 5;
  cursor: pointer;
}

.areaslide .slide1_prev {
  left: 10px;
}

.areaslide .slide1_next {
  right: 10px;
}

.listing_loker .card_loker:nth-child(4),
.listing_loker .card_loker:nth-child(5),
.listing_loker .card_loker:nth-child(9),
.listing_loker .card_loker:nth-child(10) {
  width: calc(50% - 2px);
}

.listing_loker .card_loker:nth-child(4) h2,
.listing_loker .card_loker:nth-child(5) h2,
.listing_loker .card_loker:nth-child(9) h2,
.listing_loker .card_loker:nth-child(10) h2 {
  margin-top: 160px;
}

.listing_loker .card_loker:nth-child(4):hover h2,
.listing_loker .card_loker:nth-child(5):hover h2,
.listing_loker .card_loker:nth-child(9):hover h2,
.listing_loker .card_loker:nth-child(10):hover h2 {
  margin-top: 110px;
}

.filter {
  margin-top: 5px;
}

.filter > span {
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

.select-style-box {
  font-size: 13px;
  font-weight: 100;
  position: relative;
}

.select-style-box .selected {
  padding: 12px 20px;
  border-radius: 100px;
  width: 180px;
  text-align: left;
  background: url(../img/arrow_down.png) no-repeat center;
  background-size: 15px;
  background-position: 90%;
  background-color: #f4f4f4;
  cursor: pointer;
}

.select-style-box .option {
  position: absolute;
  background: #f4f4f4;
  width: 220px;
  text-align: left;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 2px;
  display: none;
}

.select-style-box .option a {
  padding: 12px 20px;
  color: #000;
  display: block;
}

.select-style-box .option a:hover {
  font-weight: bold;
}

.select-style-box:hover .option {
  display: block;
}

.quick_search {
  background: #f4f4f4;
  border-radius: 100px;
  padding: 10px 20px;
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.quick_search input[type=text] {
  width: 80%;
  float: left;
  border: 0;
  outline: none;
  background: none;
  font-size: 15px;
  padding: 5px;
  font-family: truenoff, helvetica, arial;
}

.quick_search input[type=submit] {
  float: right;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  background: none;
  background: url(../img/search.png) no-repeat center;
  background-size: 20px;
}

.list_loker2 .card_loker2 {
  background: #f4f4f4;
}

.list_loker2 .card_loker2:nth-child(even) {
  background: #fff;
}

.blue_cover {
  background: #2BC1F6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}

.blue_cover .nav2 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
}

.blue_cover .nav2 a {
  color: #fff;
  font-size: 18px;
}

.blue_cover .nav2 a.selected {
  border-color: #fff;
}

.blue_cover .ratio4_1:before {
  padding-top: 30%;
}

.area_produk .card_produk:nth-child(odd) {
  background: #f4f4f4;
}

.area_produk .card_produk:nth-child(1) {
  background: #2BC1F6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  padding-top: 100px;
}

.area_produk .card_produk:nth-child(1) .text {
  color: #fff;
  margin-top: 200px;
}

.area_produk .card_produk:nth-child(even) .img {
  float: right;
}

.area_produk .card_produk:nth-child(even) .text {
  float: left;
  padding-right: 0;
  padding-left: 100px;
}

.downloadpage {
  background: #2BC1F6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  color: #fff;
}

.downloadpage .text {
  margin-top: 250px;
  width: 50%;
  min-height: 500px;
}

.downloadpage .text h1 {
  font-size: 42px;
  margin-bottom: 50px;
}

.downloadpage .text .download strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.downloadpage .text .download a {
  height: 50px;
  margin-right: 20px;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.downloadpage .text .download a img {
  height: 100%;
}

.downloadpage .text .download a:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.downloadpage .phonearea {
  width: 900px;
  height: 800px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.downloadpage .phone {
  position: absolute;
  right: -500px;
  width: 900px;
  top: 0;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.downloadpage .phone img {
  width: 250px;
  position: absolute;
}

.downloadpage .phone .phone1 {
  top: 300px;
  animation-name: slideanimate;
  animation-duration: 0.5s;
}

.downloadpage .phone .phone2 {
  top: 150px;
  left: 250px;
  animation-name: slideanimate;
  animation-duration: 1s;
}

.downloadpage .phone .phone3 {
  top: 800px;
  left: 0;
  animation-name: slideanimate2;
  animation-duration: 0.5s;
}

.downloadpage .phone .phone4 {
  top: 620px;
  left: 250px;
  animation-name: slideanimate2;
  animation-duration: 1.3s;
}

.downloadpage .phone .phone5 {
  top: -320px;
  left: 250px;
  animation-name: slideanimate;
  animation-duration: 1.3s;
}

.downloadpage .phone .phone6 {
  top: 500px;
  left: 500px;
  animation-name: slideanimate2;
  animation-duration: 2s;
}

.downloadpage .phone .phone7 {
  top: 0px;
  left: 500px;
  animation-name: slideanimate2;
  animation-duration: 1.5s;
}

@keyframes slideanimate {
  from {
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
  to {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideanimate2 {
  from {
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
  }
  to {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.list3 {
  text-align: center;
  width: calc(33.3% - 50px);
  margin: 25px;
  font-weight: 100;
  float: left;
}

.list3 img {
  width: 50%;
}

.list3 .t1 {
  font-size: 24px;
  margin: 30px 0 15px;
  font-weight: normal;
}

.card_testimoni {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  float: left;
  margin: 20px;
  display: table;
  vertical-align: middle;
}

.card_testimoni .box_img {
  width: 125px;
  overflow: hidden;
  border-radius: 100px;
  float: left;
}

.card_testimoni .text {
  float: right;
  width: calc(100% - 160px);
  color: #4A4A4A;
  font-weight: 100;
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
}

.card_testimoni .text .nama {
  margin-top: 20px;
  color: #9B9B9B;
}

.card_promo {
  float: left;
  background: #fff;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 40px;
  width: calc(33.3% - 30px);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card_promo:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}

.card_promo .label {
  text-align: center;
  margin-top: -15px;
  z-index: 2;
  position: relative;
}

.card_promo .label span {
  background: #138EE9;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}

.card_promo .text {
  padding: 15px;
  text-align: center;
  height: 50px;
}

.card_promo .text h3 {
  color: #000;
}

.card_promo .text h3:hover {
  color: #138EE9;
}

.card_promo .date {
  padding: 15px;
  font-size: 10px;
  color: #9B9B9B;
  float: left;
  position: relative;
  margin-bottom: 10px;
}

.card_promo .btn_more {
  float: right;
  font-size: 11px;
  padding: 7px 30px 7px 10px;
  margin-right: 10px;
  margin-top: 8px;
}

.card_promo .btn_more:after {
  right: 10px;
}

.card_merchant {
  width: calc(100% / 6.1);
  display: inline-block;
  margin: 20px 0;
  color: #000;
  font-weight: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card_merchant .ratio_merchant:before {
  padding-top: 15%;
}

.card_merchant:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.card_slidefoto {
  float: left;
  height: 700px;
}

.card_slidefoto img {
  width: 100%;
}

.card_slidefoto .caption {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

.card_loker {
  float: left;
  width: calc(33.3% - 2px);
  border: 1px solid #fff;
}

.card_loker .text {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  text-align: center;
  padding: 15px;
}

.card_loker .text h2 {
  margin-top: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card_loker .text .desc {
  padding: 15px 0;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card_loker .text .btn_more {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card_loker:hover .text h2 {
  margin-top: 50px;
}

.card_loker:hover .text .desc,
.card_loker:hover .text .btn_more {
  opacity: 1;
}

.card_loker2 {
  text-align: left;
  padding: 12px 15px;
}

.card_loker2 h3 {
  width: 55%;
  float: left;
  font-weight: normal;
  padding: 10px 0;
}

.card_loker2 .lokasi {
  float: left;
  width: 20%;
  padding: 10px 0;
  font-weight: 100;
}

.card_loker2 .btn_more {
  float: right;
}

.card_produk {
  position: relative;
}

.card_produk .img {
  float: left;
  width: 400px;
  height: 600px;
  text-align: center;
  position: relative;
  bottom: -100px;
  z-index: 10;
}

.card_produk .img img {
  max-width: 100%;
  max-height: 100%;
}

.card_produk .text {
  float: right;
  width: calc(100% - 550px);
  margin-top: 130px;
  padding-right: 100px;
  font-size: 16px;
  font-weight: 100;
  line-height: 140%;
}

.card_produk .text h1 {
  font-size: 32px;
  line-height: 120%;
}

.card_produk .text h2 {
  font-size: 46px;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 120%;
}

.card_produk .text .img2 {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.card_produk .text .img2 img {
  width: 100%;
}

.select-style {
  border: 0;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  padding: 1px;
  width: calc(100% - 10px);
  overflow: hidden;
  font-size: 15px;
  padding: 0 5px;
  height: 35px;
  position: relative;
  background: url(../images/arrow_down_black.png) no-repeat center;
  background-color: #fff;
  background-size: 10px;
  background-position: calc(100% - 15px);
  margin-top: 10px;
}

.select-style select {
  padding: 10px 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  outline: none;
  font-family: truenoff, helvetica, arial;
  font-size: 13px;
}

.select-style.select-style_black {
  background: url(../images/arrow_down_white.png) no-repeat center #2F2F2F;
  background-size: 10px;
  background-position: calc(100% - 15px);
  margin-top: 10px;
  border: 0;
  height: 30px;
  color: #fff;
}

.select-style.select-style_black select {
  padding: 6px;
  color: #fff;
}

.select-style.select-style2 {
  width: 50%;
}

.select-style2 {
  border: 1px solid #D7D7D7;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

.select-style2 .select-style {
  border: 0;
  border-radius: 0;
  float: left;
}

.select-style2 .select-style60 {
  width: calc(60% - 10px);
}

.select-style2 .select-style40 {
  width: calc(40% - 11px);
  border-left: 1px solid #D7D7D7;
}

.group-input {
  text-align: left;
  font-size: 15px;
  padding: 10px 0;
}

.group-input input {
  margin-top: 10px;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  padding: 10px;
  width: calc(100% - 20px);
  outline: none;
  font-size: 13px;
  font-family: truenoff, helvetica, arial;
}

.group-input input.img {
  background-size: 25px;
  background-position: 5px;
  padding-left: 35px;
  width: calc(100% - 45px);
  background-repeat: no-repeat;
  background-color: #fff;
}

.group-input input.user {
  background-image: url("../images/ico_user.png");
}

.group-input input.email {
  background-image: url("../images/ico_mail.png");
}

.group-input input.password {
  background-image: url("../images/ico_password.png");
}

.group-input input.company {
  background-image: url("../images/icon_corporate.png");
}

.group-input input.phone {
  background-image: url("../images/icon_phone.png");
}

.group-input input:focus {
  border-color: #138EE9;
}

.group-input .btn {
  background-color: #FF9F00;
  width: auto;
  padding: 10px 40px;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  letter-spacing: 3px;
  border: 0;
  margin-top: 0;
}

.group-input .btn:hover {
  background: #000;
}

.group-input .input-password {
  position: relative;
}

.group-input .show_pass {
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  margin: 0;
  cursor: pointer;
  z-index: 2;
}

.group-input .show_pass img {
  height: 30px;
}

.group-input .show_pass:hover {
  opacity: 0.7;
}

.group-input .pass_hide {
  display: none;
  opacity: 0.5;
}

.group-input.group-password .info-input {
  float: left;
  width: 100%;
  margin-top: 5px;
  font-size: 11px;
  position: relative;
  z-index: 2;
}

.group-input.group-password .strenght_pass,
.group-input.group-password .strength_meter {
  float: right;
  width: 130px;
}

.group-input.group-password .info-input2 {
  width: 100%;
}

.group-input textarea {
  border: 1px solid #D7D7D7;
  padding: 7px;
  width: calc(100% - 14px);
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  font-family: truenoff, helvetica, arial;
}

.group-input .file {
  display: block;
  text-align: center;
  border: 1px solid #D7D7D7;
  padding: 7px;
  padding-bottom: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.group-input .file img {
  height: 20px;
  position: relative;
  top: 5px;
}

.group-input .file input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.group-input .radiobox input {
  float: left;
  width: auto;
  margin-right: 5px;
  display: none;
}

.group-input .radiobox input:checked ~ div {
  border-color: #1477EA;
  background: #E2F0FF;
}

.group-input .radiobox div {
  border: 1px solid #D7D7D7;
  padding: 4px 8px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
  float: left;
  margin-right: 7px;
  font-size: 14px;
  cursor: pointer;
}

.group-input .radiobox div:hover {
  border-color: #1477EA;
  background: #E2F0FF;
}

.group-input .radiobox.radiobox2 div {
  padding: 10px 50px;
  font-size: 20px;
  margin-right: 15px;
}

.group-input .radiobox.radiobox_full {
  width: 100%;
}

.group-input .radiobox.radiobox_full div {
  padding: 10px;
  text-align: left;
  width: calc(100% - 20px);
  display: inline-block;
}

.group-input .radiobox.radiobox3 input:checked ~ div {
  border-color: #1477EA;
  background: #1477EA;
}

.group-input .radiobox.radiobox_skill {
  text-align: center;
}

.group-input .radiobox.radiobox_skill > div {
  width: calc(20% - 26px);
  float: left;
}

.group-input .radiobox.radiobox_skill > div img {
  width: 50%;
  padding: 10px;
}

.group-input .radiobox.radiobox_skill input {
  float: left;
  width: auto;
  margin-right: 5px;
  display: none;
}

.group-input .radiobox.radiobox_skill input:checked ~ div {
  border-color: #1477EA;
  background-image: url(../images/icon_checklist.png);
  background-repeat: no-repeat;
  background-position: 95% 5%;
  background-size: 20px;
  background-color: #E2F0FF;
}

.group-input .checkbox_type div {
  border-radius: 5px;
  margin: 7px;
  display: inline-block;
  float: left;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.group-input .checkbox_type div img {
  width: 70%;
}

.group-input .checkbox_type div:hover {
  color: #1477EA;
}

.group-input .checkbox_type input {
  float: left;
  width: auto;
  margin-right: 10px;
  display: none;
}

.group-input .checkbox_type input:checked ~ div {
  background: url(../images/icon_checklist.png) no-repeat #fff;
  background-size: 15px;
  background-position: 90% 10%;
  color: #1477EA;
}

.group-input .checkbox_type2 {
  margin-bottom: 10px;
  display: block;
}

.group-input .checkbox_type2 div {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: url(../images/checklist.png) no-repeat;
  background-size: 15px;
}

.group-input .checkbox_type2 input {
  float: left;
  width: auto;
  margin-right: 10px;
  display: none;
}

.group-input .checkbox_type2 input:checked ~ div {
  background: url(../images/checklist_selected.png) no-repeat #fff;
  background-size: 15px;
  background-position: 90% 10%;
  color: #1477EA;
}

.group-input .input_file2 {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 15px;
  display: inline-block;
}

.group-input .input_file2 input {
  display: none;
}

.group-input .with_remove {
  position: relative;
}

.group-input .with_remove .remove {
  position: absolute;
  height: 30px;
  line-height: 30px;
  right: 0;
  top: 0;
  z-index: 5;
  margin: 2px 10px;
  font-weight: bold;
  cursor: pointer;
}

.group-input .with_remove .remove:hover {
  opacity: 0.8;
}

.group-input .input-style {
  position: relative;
}

.group-input .input-style .left {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  left: 10px;
  top: 7px;
}

.group-input .input-style .right {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 7px;
  text-align: right;
}

.group-input .input-style input {
  padding-left: 50px;
  padding-right: 50px;
  width: calc(100% - 100px);
}

.group-input .input-style.input-style-right input {
  padding-left: 10px;
  width: calc(100% - 60px);
}

.group-input .input-style.input-style-left input {
  padding-right: 10px;
  width: calc(100% - 60px);
}

.group-input.group-input2 {
  border-bottom: 1px solid #F4F4F4;
  height: 35px;
  margin-bottom: 10px;
  position: relative;
}

.group-input.group-input2 label {
  float: left;
  width: 100px;
  font-style: italic;
  margin-top: 10px;
}

.group-input.group-input2 input {
  float: left;
  width: calc(100% - 100px);
  border: 0;
  background: none;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  height: 35px;
  text-align: left;
  margin-bottom: 0;
}

.group-input-drag {
  background: #F0F0F0;
  border: 1px dotted #AAAAAA;
  padding: 30px;
  text-align: center;
  min-height: 300px;
  position: relative;
}

.group-input-drag .drag_label {
  display: block;
  position: relative;
  width: 100%;
  height: 280px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.group-input-drag .drag_label .info_drag {
  display: inline-block;
  width: 200px;
}

.group-input-drag .drag_label .info_drag img {
  width: 50%;
  margin: 20px 0;
  display: inline-block;
}

.group-input-drag .drag_label .info_drag .btn {
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
}

.group-input-drag input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.group-input-drag .imageThumb {
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}

.group-input-drag .pip {
  display: inline-block;
  position: relative;
  width: calc(33.3% - 30px);
  margin: 10px;
}

.group-input-drag .pip .box_img {
  background: #fff;
}

.group-input-drag .pip .btn {
  width: 100%;
  padding: 10px 0;
  display: block;
  text-align: center;
}

.group-input-drag .remove {
  display: block;
  background: red;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.group-input-drag .remove:hover {
  background: white;
  color: black;
}

.input_select_join {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}

.input_select_join input {
  width: 60%;
  float: left;
  border: 0;
}

.input_select_join .select-style_join {
  width: 30%;
  border: 0;
  float: left;
  border-left: 1px solid #D7D7D7;
  border-radius: 0;
  float: right;
}

.input_select_join .radio_join {
  width: 30%;
  margin: 5px;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  float: right;
  overflow: hidden;
}

.input_select_join .radio_join .radiobox div {
  float: left;
  text-align: center;
  font-size: 13px;
  margin-right: 0;
  border: 0;
  width: 50%;
  padding: 2px 0;
  margin: 0;
  border-radius: 0;
}

.input_select_join .radio_join .radiobox div sup {
  font-size: 9px;
}

.input_select_join .radio_join .radiobox:last-child div {
  border-left: 1px solid #D7D7D7;
  width: calc(50% - 1px);
  float: right;
}

.input_select_join .radio_join .radiobox input:checked ~ div {
  background: #1477EA;
}

.detail_merchant {
  min-height: 500px;
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}

.detail_merchant .logo_merchant {
  height: 60px;
  margin-bottom: 80px;
}

.detail_merchant .logo_merchant img {
  height: 100%;
}

.detail_merchant .alamat_merchant {
  float: left;
  margin-right: 20px;
  width: calc(33.3% - 20px);
  margin-bottom: 30px;
  font-weight: 100;
  min-height: 100px;
}

.detail_promo {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.detail_promo h1 {
  font-size: 42px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.detail_promo .duedate {
  background: #138EE9;
  color: #fff;
  padding: 12px 20px;
  border-radius: 100px;
  display: inline-block;
}

.detail_promo .img {
  width: 100%;
  margin: 40px 0;
}

.detail_promo .img img {
  width: 100%;
}

.detail_promo .text {
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  padding: 0 50px;
  line-height: 140%;
}

.detail_tentang {
  width: 800px;
  margin: 0 auto;
  padding: 80px 0;
}

.detail_tentang .text {
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  line-height: 140%;
}

.detail_tentang .text img {
  width: 100%;
}

.detail_karir {
  padding: 30px 0;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.nav_left {
  float: left;
  width: 200px;
  margin-top: 30px;
}

.nav_left a {
  display: block;
  padding: 10px 0;
  color: #000;
  font-size: 16px;
  font-weight: 100;
}

.nav_left a.selected {
  font-weight: bold;
}

.nav_left a:hover {
  text-decoration: underline;
}

.detail_right {
  margin-top: 40px;
  float: right;
  width: calc(100% - 300px);
  font-weight: 100;
  font-size: 15px;
  line-height: 140%;
}

.detail_right h1 {
  margin-bottom: 30px;
}

.detail_right h2 {
  padding-top: 20px;
}

.detail_statik {
  font-weight: 100;
  font-size: 15px;
  line-height: 140%;
  padding: 30px 100px;
}

.detail_statik h1 {
  margin-bottom: 30px;
}

.detail_statik h2 {
  padding-top: 20px;
}

.detail_statik .map {
  margin-bottom: 30px;
}

.detail_statik .map iframe {
  width: 100%;
  height: 300px;
}

.contact_left {
  float: left;
  width: 55%;
}

.contact_right {
  float: right;
  width: 35%;
  font-size: 13px;
  line-height: 140%;
}

.contact_right h2 {
  margin-bottom: 5px;
}

.contact_right .cs {
  margin: 40px 0;
  font-size: 32px;
  font-weight: bold;
}

.contact_right .cs span {
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

@media only screen and (min-device-width: 650px) and (max-device-width: 768px) {
  .container,
  .container2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #footer {
    padding: 10px;
    width: calc(100% - 20px);
  }
  #footer .fmenu,
  #footer .address {
    width: 20%;
  }
  .detail_produk {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .detail_produk .desc {
    width: calc(50% - 50px);
  }
  .detail2,
  .detail,
  .detail_page {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .ulasan {
    padding: 50px 10px;
    width: calc(100% - 20px);
  }
  .section_tips .card_tips {
    width: calc(50% - 40px);
  }
  .detail_page .title,
  .detail_page .bodytext {
    padding: 10px;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 650px) {
  body {
    padding-top: 80px;
  }
  .container,
  .container2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #header {
    width: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
  }
  #header .logo {
    height: 30px;
    margin-bottom: 0;
    padding: 10px 0;
  }
  #header .sosmed {
    display: none;
  }
  #header #nav {
    overflow: scroll !important;
    /*overflow: scroll !important;*/
    -webkit-overflow-scrolling: touch;
    height: 35px;
    z-index: 999;
  }
  #header #nav ul {
    white-space: nowrap;
    width: 0;
  }
  #header #nav ul li a,
  #header #nav ul li span {
    font-size: 13px;
    padding: 7px 10px;
  }
  #header .subproduk {
    position: fixed;
    padding: 10px 0;
    display: none;
    left: 0;
    z-index: 99999;
  }
  #header .subproduk .card_produk {
    width: calc(50% - 20px);
    margin: 10px;
    float: left;
  }
  #header .subproduk .card_produk a {
    display: block;
  }
  #header .subproduk .card_produk a .text {
    padding: 0;
    white-space: normal;
    margin-top: 0;
    height: 40px;
  }
  #header .subproduk .card_produk a .text h2 {
    font-size: 11px;
  }
  #header .subproduk .card_produk .box_img {
    width: 80%;
  }
  #footer {
    padding: 30px 0;
    margin-top: 30px;
    text-align: center;
  }
  #footer .flogo {
    margin-top: 30px;
  }
  #footer .fmenu {
    display: none;
  }
  #footer .flogo,
  #footer .fmenu,
  #footer .address {
    width: 100%;
  }
  #headline_cover .mobile {
    display: block;
  }
  #headline_cover .desktop {
    display: none;
  }
  #headline_cover .ratio3_1:before {
    padding-top: 130%;
  }
  .title_page {
    font-size: 24px;
  }
  .section_produk .card_produk {
    margin: 10px 0;
  }
  .section_produk .card_produk .text {
    height: 60px;
  }
  .section_produk .nav_slide img.produk_prev {
    left: 10px;
  }
  .section_produk .nav_slide img.produk_next {
    right: 10px;
  }
  .section_produk .caroufredsel_wrapper {
    height: 400px !important;
  }
  .section_tips .card_tips {
    width: calc(100% - 40px);
  }
  .section_instagram .card_instagram {
    width: calc(50% - 10px);
  }
  .section_instagram .card_instagram .text {
    height: 120px;
  }
  .title_page.title_page_full2 {
    padding: 20px 0 70px;
  }
  .title_page.title_page_full {
    padding: 20px 0;
  }
  .nav_box {
    margin-top: -50px;
  }
  .nav_box a {
    width: 70px;
    height: 70px;
    margin: 10px;
  }
  .nav_box a .box_img {
    width: 60%;
  }
  .detail {
    padding: 15px;
    width: calc(100% - 30px);
  }
  .card_statik .box_img {
    width: 50px;
  }
  .card_statik .text {
    width: calc(100% - 70px);
  }
  .card_gerai {
    width: 100%;
    height: auto;
  }
  .con_left,
  .con_right {
    width: 100%;
  }
  .con_left .map iframe {
    height: 200px;
  }
  .sosmed a {
    height: 20px !important;
  }
  .sosmed span {
    height: 20px !important;
    line-height: 20px !important;
    font-size: 13px !important;
  }
  .breadcrumb {
    padding: 10px !important;
  }
  .detail_page {
    width: 100%;
  }
  .detail_page .title {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .detail_page .title h1 {
    font-size: 28px;
  }
  .detail_page .title .sosmed,
  .detail_page .title .info {
    clear: both;
    width: 100%;
  }
  .detail_page .title .sosmed {
    margin-top: 20px;
  }
  .detail_page .bodytext {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .detail_page .bodytext iframe {
    height: 250px;
  }
  .detail_page .pic_detail {
    width: 100%;
  }
  .detail_produk h1 {
    font-size: 28px;
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 0;
  }
  .detail_produk .d_left,
  .detail_produk .rating {
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 13px;
  }
  .detail_produk .d_left .jenis {
    font-size: 15px;
  }
  .detail_produk .d_left .suk {
    font-size: 13px;
  }
  .detail_produk .rating img {
    height: 20px;
  }
  .detail_produk .pic_detail {
    margin-right: 0;
    width: 100%;
  }
  .detail_produk .desc {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .detail2 {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .detail2 iframe {
    height: 250px;
  }
  .card_ulasan {
    padding: 15px 0;
  }
  .card_ulasan .user,
  .card_ulasan .text {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .card_ulasan .user .rating {
    height: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .card_ulasan .user .rating img {
    height: 100%;
  }
  .pop_box .pop_box_content {
    width: 80%;
  }
}
