.list3 {
	text-align: center;
	width:calc(33.3% - 50px);
	margin: 25px;
	font-weight: 100;
	float: left;
	img {
		width: 50%;
	}
	.t1 {
		font-size: 24px;
		margin: 30px 0 15px;
		font-weight: normal;
	}
}
.card_testimoni {
	background: #fff;
	@include shadow(10px, 0.15);
	padding: 20px;
	float: left;
	margin: 20px;
	display: table;
	vertical-align: middle;
	.box_img {
		width: 125px;
		overflow: hidden;
		border-radius: 100px;
		float: left;
	}
	.text {
		float: right;
		width: calc(100% - 160px);
		color: #4A4A4A;
		font-weight: 100;
		font-size: 15px;
		display: table-cell;
		vertical-align: middle;
		.nama {
			margin-top: 20px;
			color:#9B9B9B;
		}
	}
}
.card_promo {
	float: left;
	background: #fff;
	margin: 15px;
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 40px;
	width: calc(33.3% - 30px);
	@include shadow(10px,0.1);

	@include transition(0.5s);
	&:hover {
		@include shadow(40px,0.2);
	}
	.label {
		text-align: center;
		margin-top: -15px;
		z-index: 2;
		position: relative;
		span {
			background: $blue;
			color: #fff;
			display: inline-block;
			padding: 5px 10px;
		}
	}
	.text {
		padding: 15px;
		text-align: center;
		height: 50px;
		h3 {
			color:#000;
			&:hover {
				color: $blue;
			}
		}
	}
	.date {
		padding: 15px;
		font-size: 10px;
		color: #9B9B9B;
		float: left;
		position: relative;
		margin-bottom: 10px;

	}
	.btn_more {
		float: right;
		font-size: 11px;
		padding: 7px 30px 7px 10px;
		margin-right: 10px;
		margin-top: 8px;
		&:after {
			right: 10px;
		}

	}
}
.card_merchant {
	width: calc(100% / 6.1);
	display: inline-block;
	margin: 20px 0;
	color: #000;
	font-weight: 100;
	@include transition(0.5s);
	.ratio_merchant {
		&:before {
			padding-top: 15%;
		}
	}
	&:hover {
		@include scale(1.1);
	}
}
.card_slidefoto {
	float: left;
	height: 700px;
	img {
		width: 100%;
	}
	.caption {
		display: block;
		padding: 15px;
		text-align: center;
		font-size: 15px;
	}
}
.card_loker {
	float: left;
	width: calc(33.3% - 2px);
	border:1px solid #fff;
	.text {
		position: absolute;
		background: rgba(0,0,0,0.5);
		color: #fff;
		top: 0;
		left: 0;
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		text-align: center;
		padding: 15px;
		h2 {
			margin-top: 100px;
			@include transition(0.5s);

		}
		.desc {
			padding: 15px 0;
			margin-bottom: 20px;
			opacity: 0;
			@include transition(0.5s);
		}
		.btn_more {
			opacity: 0;
			@include transition(0.5s);
		}
	}
	&:hover {
		.text {
			h2 {
				margin-top: 50px;
			}
			.desc,
			.btn_more {
				opacity: 1;
			}
		}
	}
}
.card_loker2 {
	text-align: left;
	padding: 12px 15px;
	h3 {
		width: 55%;
		float: left;
		font-weight: normal;
		padding: 10px 0;
	}
	.lokasi {
		float: left;
		width: 20%;
		padding: 10px 0;
		font-weight: 100;
	}
	.btn_more {
		float: right;
	}
}
.card_produk {
	position: relative;
	.img {
		float: left;
		width: 400px;
		height: 600px;
		text-align: center;
		position: relative;
		bottom: -100px;
		z-index: 10;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.text {
		float: right;
		width: calc(100% - 550px);
		margin-top: 130px;
		padding-right: 100px;
		font-size: 16px;
		font-weight: 100;
		line-height: 140%;
		h1 {
			font-size: 32px;
			line-height: 120%;
		}
		h2 {
			font-size: 46px;
			font-weight: 100;
			margin-bottom: 30px;
			margin-top: 30px;
			line-height: 120%;
		}
		.img2 {
			width: 100%;
			margin-bottom: 40px;
			margin-top: 20px;
			img {
				width: 100%;
			}
		}
	}
} 


















