@font-face { 
	font-family: truenoff; 
	src: url('../fonts/TruenoRg.otf');
}
@font-face { 
	font-family: truenoff; 
	src: url('../fonts/TruenoLt.otf');
	font-weight: 100;
}
@font-face { 
	font-family: truenoff; 
	src: url('../fonts/TruenoSBd.otf');
	font-weight: bold;
}


