body {
	font-family:$font_reg, helvetica, arial;
	font-size: 14px;
}
.container {
	width:1100px;
	margin:0 auto;
}
.hero_cover {
	overflow: hidden;
	background: #000;
	color: #fff;
	.box_img {
		overflow: hidden;
		.img_con {
			opacity: 0.5;
			z-index: 0;
			iframe{
				height: 140%;
				width: 140%;
				left: -20%;
				top: -20%;
				position: absolute;
			}
		}
		.title_cover {
			text-align: center;
			position: absolute;
			z-index: 2;
			top: 50%;
			width: 100%;
			font-size: 32px;
			font-weight: bold;
			h3 {
				font-size: 24px;
			}
		}
		.text {
			position:absolute;
			z-index: 2;
			height: 70%;
			bottom: 0;
			width: 100%;
			.img {
				width: 400px;
				position:absolute;
				top:0;
				img {
					width: 100%;
				}
			}
			.text2 {
				width: calc(100% - 500px);
				float: right;
				margin-top: 50px;
				h1 {
					font-size: 50px;
					line-height: 130%;
					margin-bottom: 20px;
				}
				.tagline {
					font-size: 60px;
					margin: 30px 0;
					font-weight: bold;
				}
				.download {
					margin-top: 70px;
					a {
						height: 50px;
						display: inline-block;
						margin-right:20px;
						@include transition(0.5s);
						img {
							height: 100%;
						}
						&:hover {
							@include scale(1.1);
						}
					}
				}
				.desc {
					font-size: 15px;
					font-weight: 100;
					margin-bottom: 50px;
				}
			}
			&.text3 {
				text-align: center;
				.title_cover {
					position: relative;
					margin-top: 50px;
					margin-bottom: 30px;
				}
			}
		}
		.search_header {
			background: #fff;
			border-radius: 100px;
			padding: 10px 20px;
			width: 600px;
			margin:0 auto;
			margin-top: 40px;
			margin-bottom: 30px;
			input[type=text] {
				width: 80%;
				float: left;
				border:0;
				outline: none;
				background: none;
				font-size: 15px;
				padding: 5px;
				font-family: $font_reg;
			}
			input[type=submit] {
				float: right;
				width: 30px;
				height: 30px;
				border:0;
				outline: none;
				background: none;
				background: url(../img/search.png) no-repeat center;
				background-size: 20px;
			}
		}
	}
}
.btn_more {
	padding: 10px 40px 10px 30px;
	color:#fff;
	font-size: 15px;
	display:inline-block;
	//@include transition(0.3s);
	cursor:pointer;
	border: 0;
	@include gradient_pos(#60BBFF,#138EE9,left,100%,0%);
	position: relative;
	border-radius: 100px;
	&:after {
		content: "";
		background: url(../img/arrow_next_white.png);
		width: 7px;
		height: 13px;
		background-size: cover;
		display: block;
		position:absolute;
		right: 15px;
		top: calc(50% - 7px);
		@include transition(0.3s);
	}
	&:hover {
		background: #028FD5;
		&:after {
			right: 10px;
		}
	}
}
.about {
	position: relative;
	overflow: hidden;
	padding: 70px 0;
	.bg {
		position:absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0.4;
	}
	.img {
		float: left;
		width: 450px;
	}
	.text {
		float: right;
		width: calc(100% - 500px);
		font-weight: 100;
		padding-top: 40px;
		h2 {
			font-size: 42px;
			font-weight: 100;
			margin-bottom: 20px;
		}
		.desc {
			font-size: 16px;
			margin-bottom: 30px;
			line-height: 150%;
		}
	}
}
.section {
	padding: 50px 0;
}
.page_title {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	h2 {
		font-size: 42px;
		font-weight: 100;
	}
	&:after {
		position:absolute;
		content: "";
		width:100px;
		height: 4px;
		background: $blue;
		margin-left: -50px;
		bottom: -20px;

	}
}
.title2 {
	position: relative;
	margin-bottom: 50px;
	text-align: left;
	margin-top: 60px;
	h2 {
		font-size: 24px;
		font-weight: bold;
	}
	&:after {
		position:absolute;
		content: "";
		width:100px;
		height: 4px;
		background: $blue;
		left: 0;
		bottom: -20px;

	}
}
.secure {
	@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
	position: relative;
	color: #fff;
	text-align: center;
	.secure_info_area {
		position: relative;
		.phone {
			width: 250px;
			position: absolute;
			left: calc(50% - 125px);
			img {
				width: 100%;
			}
		}
		.circle {
			width: 420px;
			height: 420px;
			border-radius: 100%;
			border:10px dotted #fff;
			display: inline-block;
			margin-top: 40px;
		}
		.info {
			position: absolute;
			width: 250px;
			text-align: right;
			font-size: 15px;
			font-weight: 100;
			height: 150px;
			
			.t1 {
				font-size: 22px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			&:before {
				content: "";
				position: absolute;
				width: 10px;
				height: 10px;
				background: yellow;
				border-radius: 100px;
				top: 70px;
			}
		}
		.info_show {
			.info:nth-child(1) {
				top: 50px;
				left: 50px;
				&:before {
					right: - 88px;
				}
			}
			.info:nth-child(2) {
				top: 350px;
				left: 50px;
				&:before {
					right: - 69px;
					top: 13px;
				}
			}
			.info:nth-child(3) {
				top: 20px;
				right: 50px;
				text-align: left;
				&:before {
					left: - 95px;
					top: 91px;
				}
			}
			.info:nth-child(4) {
				top: 350px;
				right: 50px;
				text-align: left;
				&:before {
					left: - 74px;
					top: 21px;
				}
			}
		}
	}
	
}
.area_testimoni,
.area_promo
 {
	position: relative;
	.testi_next,
	.promo_next {
		position: absolute;
		width: 25px;
		top: calc(50% - 45px);
		right: -40px;
		z-index: 5;
		cursor: pointer;
		&:hover {
			opacity:0.7;
		}
	}
	.testi_prev,
	.promo_prev {
		position: absolute;
		width: 25px;
		top: calc(50% - 45px);
		left: -40px;
		z-index: 5;
		cursor: pointer;
		&:hover {
			opacity:0.7;
		}
	}
}
.paging_slide {
	text-align: center;
	margin: 20px 0;
	span {
		display: none;
	}
	a {
		display: inline-block;
		width: 13px;
		height: 13px;
		border:1px solid #969696;
		margin: 3px;
		border-radius: 4px;
		background: #fff;
		&:hover {
			background: #969696;
		}
		&.selected {
			background: $blue;
		}
	}
}
.promo {
	background: #F4F4F4;
}
.nav2 {
	text-align: center;
	margin-bottom: 30px;
	a {
		display: inline-block;
		padding: 10px 10px;
		margin: 0 10px;
		color: #000;
		font-size: 18px;
		
		&:hover,
		&.selected {
			border-bottom:4px solid $blue;
		}
	}
	&.nav2a {
		a {
			font-size: 24px;
			font-weight: 100;
		}
	}
}
.bg_abu {
	background: #f4f4f4;
}
.area_promopage {
	position: relative;
	overflow: hidden;
	.slide_next {
		position: absolute;
		right: 20px;
		top: 50%;
		width: 40px;
		cursor: pointer;
		@include transition(0.5s);
		&:hover {
			@include scale(1.2);
		}
	}
	.slide_prev {
		position: absolute;
		left: 20px;
		top: 50%;
		width: 40px;
		cursor: pointer;
		@include transition(0.5s);
		&:hover {
			@include scale(1.2);
		}
	}
	.paging_slide {
		margin-top: -50px;
		position: relative;
		z-index: 2;
	}
}
.paging {
	text-align: center;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 100px;
		color: #000;
		font-size: 18px;
		margin: 3px;
		@include transition(0.5s);
		&:hover {
			background: #f4f4f4;
		}
		&.selected {
			background: $blue;
			color: #fff;
		}
	}
}
.areaslide {
	position: relative;
	.slide1_prev,
	.slide1_next {
		position: absolute;
		top: calc(50% - 50px);
		width: 30px;
		z-index: 5;
		cursor: pointer;
	}
	.slide1_prev {
		left: 10px;
	}
	.slide1_next {
		right: 10px;
	}
}
.listing_loker {
	.card_loker:nth-child(4),
	.card_loker:nth-child(5),
	.card_loker:nth-child(9),
	.card_loker:nth-child(10) {
		width: calc(50% - 2px);
		h2 {
			margin-top: 160px;
		}
		&:hover {
			h2 {
			margin-top: 110px;
		}
		}
	}
}
.filter {
	margin-top: 5px;
	> span {
		float: left;
		margin-right: 30px;
		margin-top: 10px;
	}
}
.select-style-box {
	font-size: 13px;
	font-weight: 100;
	position: relative;
	.selected {
		padding: 12px 20px;
		border-radius: 100px;
		width: 180px;
		text-align: left;
		background: url(../img/arrow_down.png) no-repeat center;
		background-size: 15px;
		background-position: 90%;
		background-color: #f4f4f4;
		cursor: pointer;
	}
	.option {
		position: absolute;
		background: #f4f4f4;
		width: 220px;
		text-align: left;
		border-radius:15px;
		overflow: hidden;
		margin-top: 2px;
		display: none;
		a {
			padding: 12px 20px;
			color: #000;
			display: block;
			&:hover {
				font-weight: bold;
			}
		}
	}
	&:hover {
		.option {
			display: block;
		}
	}
}
.quick_search {
	background: #f4f4f4;
	border-radius: 100px;
	padding: 10px 20px;
	width: 600px;
	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 30px;
	input[type=text] {
		width: 80%;
		float: left;
		border:0;
		outline: none;
		background: none;
		font-size: 15px;
		padding: 5px;
		font-family: $font_reg;
	}
	input[type=submit] {
		float: right;
		width: 30px;
		height: 30px;
		border:0;
		outline: none;
		background: none;
		background: url(../img/search.png) no-repeat center;
		background-size: 20px;
	}
}
.list_loker2 {
	.card_loker2 {
		background: #f4f4f4;
		&:nth-child(even) {
			background: #fff;
		}
	}
}
.blue_cover {
	@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
	.nav2 {
		position: absolute;
		bottom: 10px;
		width: 100%;
		left: 0;
		a {
			color: #fff;
			font-size: 18px;
			&.selected {
				border-color: #fff;
			}
		}
	}
	.ratio4_1:before {
		padding-top: 30%;
	}
}
.area_produk {
	.card_produk:nth-child(odd){
		background: #f4f4f4;
	}
	.card_produk:nth-child(1) {
		@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
		padding-top: 100px;
		.text {
			color: #fff;
			margin-top: 200px;
		}
	}
	.card_produk:nth-child(even){
		.img {
			float: right;
		}
		.text {
			float: left;
			padding-right: 0;
			padding-left: 100px;
		}
	}

	
}
.downloadpage {
	@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
	color: #fff; 
	.text {
		margin-top: 250px;
		width: 50%;
		min-height: 500px;
		h1 {
			font-size: 42px;
			margin-bottom: 50px;
		}
		.download {
			strong {
				display: block;
				margin-bottom: 10px;
				font-size: 18px;
			}
			a {
				height: 50px;
				margin-right: 20px;
				display: inline-block;
				@include transition(0.5s);
				img {
					height: 100%;
				}
				&:hover {
					@include scale(1.1);
				}
			}
		}
	}
	.phonearea {
		width: 900px;
		height: 800px;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;

	}
	.phone {
		position: absolute;
		right: -500px;
		width: 900px;
		top: 0;
		@include rotate(25deg);

		img {
			width: 250px;
			position: absolute;
		}
		.phone1 {
			top: 300px;
			animation-name: slideanimate;
    		animation-duration: 0.5s;
		}
		.phone2 {
			top: 150px;
			left: 250px;
			animation-name: slideanimate;
    		animation-duration: 1s;
		}
		.phone3 {
			top: 800px;
			left: 0;
			animation-name: slideanimate2;
    		animation-duration: 0.5s;
		}
		.phone4 {
			top: 620px;
			left: 250px;
			animation-name: slideanimate2;
    		animation-duration: 1.3s;
		}
		.phone5 {
			top: -320px;
			left: 250px;
			animation-name: slideanimate;
    		animation-duration: 1.3s;
		}
		.phone6 {
			top: 500px;
			left: 500px;
			animation-name: slideanimate2;
    		animation-duration: 2s;
		}
		.phone7 {
			top: 0px;
			left: 500px;
			animation-name: slideanimate2;
    		animation-duration: 1.5s;
		}
	}
}

@keyframes slideanimate {
    from {
    	-moz-transform: translateY(-60%);
		-ms-transform: translateY(-60%);
		-webkit-transform: translateY(-60%);
		transform: translateY(-60%);
    }
    to {
    	-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
    }
}
@keyframes slideanimate2 {
    from {
    	-moz-transform: translateY(60%);
		-ms-transform: translateY(60%);
		-webkit-transform: translateY(60%);
		transform: translateY(60%);
    }
    to {
    	-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
    }
}

















