@media only screen 
and (min-device-width : 650px) 
and (max-device-width : 768px) {
    .container,
    .container2 {
        width:100%;
        padding:0;
        margin:0;
    }
    #footer {
        padding: 10px;
        width: calc(100% - 20px);
        .fmenu,
        .address {
            width: 20%;
        }
    }
    .detail_produk {
        padding: 10px;
        width: calc(100% - 20px);
        .desc {
            width:calc(50% - 50px);
        } 
    }
    .detail2,
    .detail,
    .detail_page, {
        padding: 10px;
        width: calc(100% - 20px);
    }
    .ulasan {
        padding: 50px 10px;
        width: calc(100% - 20px);
    }
    .section_tips {
        .card_tips {
            width: calc(50% - 40px)
        }
    }
    .detail_page {
        .title,
        .bodytext {
            padding: 10px;
            width: calc(100% - 20px); 
        }
    }

}
@media screen and (max-width: 650px) {
    body {
        padding-top: 80px;
    }
   .container,
   .container2 {
    	width:100%;
        padding:0;
        margin:0;
    }
    #header {
        width: 100%;
        padding: 0;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        background-color: #fff;
        .logo {
            height: 30px;
            margin-bottom: 0;
            padding: 10px 0;
        }
        .sosmed {
            display: none;
        }
        #nav {
            overflow: scroll !important;
            /*overflow: scroll !important;*/
            -webkit-overflow-scrolling: touch;
            height: 35px;
            z-index: 999;
            ul {
                white-space: nowrap;
                width: 0;
                li {
                    a,
                    span  {
                        font-size: 13px;
                        padding: 7px 10px;
                    }
                    
                    
                }
            }
        }
        .subproduk {
            position: fixed;
            padding: 10px 0;
            display: none;
            left:0;
            z-index: 99999;
            .card_produk {
                width: calc(50% - 20px);
                margin: 10px;
                float: left;

                a {
                    display: block;
                    .text {
                        padding: 0;
                        white-space:normal;
                        margin-top: 0;
                        height: 40px;
                        h2 {
                            font-size: 11px;
                        }
                    }
                }
                .box_img {
                    width: 80%;
                }
            }
        }
    }
    #footer {
        padding: 30px 0;
        margin-top: 30px;
        text-align: center;
        .flogo {
            margin-top: 30px;
        }
        .fmenu {
            display: none;
        }
        .flogo,
        .fmenu,
        .address {
            width: 100%;
        }
    }
    #headline_cover {
        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
        .ratio3_1 {
            &:before {
                padding-top:130%;
            }
        }
    }
    .title_page {
        font-size: 24px;
    }
    .section_produk {
        .card_produk {
            margin: 10px 0;
            .text {
                height: 60px;
            }

        }
        .nav_slide {
            img {
                &.produk_prev {
                    left:10px;
                }
                &.produk_next {
                    right:10px;
                }

            }
        }
        .caroufredsel_wrapper {
            height: 400px !important;
        }
    }
    .section_tips {
        .card_tips {
            width: calc(100% - 40px);
        }
    }
    .section_instagram {
        .card_instagram {
            width: calc(50% - 10px);
            .text {
                height: 120px;
            }
        }
    }
    .title_page {
        &.title_page_full2 {
            padding: 20px 0 70px;
        }
        &.title_page_full {
            padding: 20px 0;
        }
    }
    .nav_box {
        margin-top: -50px;
        a {
            width: 70px;
            height: 70px;
            margin: 10px;
            .box_img {
                width: 60%;
            }
        }
    }
    .detail {
        padding: 15px;
        width: calc(100% - 30px);
    }
    .card_statik {
        .box_img {
            width: 50px;
        }
        .text {
            width: calc(100% - 70px);
        }
    }
    .card_gerai {
        width: 100%;
        height: auto;
    }
    .con_left,
    .con_right {
        width: 100%;
    }
    .con_left {
        .map {
            iframe {
                height: 200px;
            }
        }
    }
    .sosmed {
        a {
            height: 20px !important;
        }
        span {
            height: 20px !important;
            line-height: 20px !important;
            font-size: 13px !important;
        }
    }
    .breadcrumb {
        padding: 10px !important;
    }
    .detail_page {
        width: 100%;
        
        .title {
            padding: 10px;
            width: calc(100% - 20px);
            h1 {
                font-size: 28px;
            }
            .sosmed,
            .info {
                clear: both;
                width: 100%;
            }
            .sosmed {
                margin-top: 20px;
            }
        }
        .bodytext {
            padding: 10px;
            width: calc(100% - 20px);
            iframe {
                height: 250px;
            }
        }
        .pic_detail {
            width: 100%;
        }
    }
    .detail_produk {
        h1 {
           font-size: 28px;
           padding: 10px;
           width: calc(100% - 20px); 
           margin-bottom: 0;
        }
        .d_left,
        .rating {
           padding: 10px;
           width: calc(100% - 20px);  
           font-size: 13px;
        }
        .d_left {
            .jenis {
                font-size: 15px;
            }
            .suk {
                font-size: 13px;
            }
        }
        .rating {
            img {
                height: 20px;
            }
        }
        .pic_detail {
            margin-right: 0;
            width: 100%;    
        }
        .desc {
            padding: 10px;
            width: calc(100% - 20px); 
        }
    }
    .detail2 {
        padding: 10px;
        width: calc(100% - 20px);
        iframe {
            height: 250px;
        }
    }
    .card_ulasan {
        padding: 15px 0;
        .user,
        .text {
            padding: 10px;
            width: calc(100% - 20px);
        }
        .user {
            .rating {
                height: 15px;
                margin-top: 5px;
                margin-bottom: 10px;
                img {
                    height: 100%;
                }
            }
        }
    }
    .pop_box .pop_box_content {
        width: 80%;
    }
}


