.list3 {
	text-align: center;
	width:calc(33.3% - 50px);
	margin: 25px;
	font-weight: 100;
	float: left;
	img {
		width: 50%;
	}
	.t1 {
		font-size: 24px;
		margin: 30px 0 15px;
		min-height: 55px;
		font-weight: normal;
	}
	.desc {
		text-align: center;
	}
}
.card_testimoni {
	background: #fff;
	@include shadow(10px, 0.15);
	padding: 20px;
	float: left;
	margin: 20px;
	display: table;
	vertical-align: middle;
	.box_img {
		width: 125px;
		overflow: hidden;
		border-radius: 100px;
		float: left;
	}
	.text {
		float: right;
		width: calc(100% - 160px);
		color: #4A4A4A;
		font-weight: 100;
		font-size: 15px;
		display: table-cell;
		vertical-align: middle;
		.nama {
			margin-top: 20px;
			color:#9B9B9B;
		}
	}
}
.card_testimoni_full {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	padding: 0;
	margin: 10px;
	float: left;
	width: calc(100% - 60px);
	.box_img {
		width: 100%;
	}
	.text {
		position: absolute;
		width: 60%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		color: #fff;
		background: -moz-linear-gradient(left, rgba(19,142,233,1) 0%, rgba(19,142,233,1) 68%, rgba(19,142,233,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(19,142,233,1) 0%,rgba(19,142,233,1) 68%,rgba(19,142,233,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(19,142,233,1) 0%,rgba(19,142,233,1) 68%,rgba(19,142,233,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		.isi {
			font-size: 22px;
			padding: 60px;
			.nama {
				margin-top: 50px;
				font-size: 18px;
			}

		}
	}
}
.card_promo {
	float: left;
	background: #fff;
	margin: 10px;
	border-radius: 15px;
	overflow: hidden;
	width: calc(33.3% - 20px);
	@include shadow(10px,0.1);

	@include transition(0.5s);
	&:hover {
		@include shadow(40px,0.2);
	}
	.label {
		text-align: center;
		margin-top: -15px;
		z-index: 2;
		position: relative;
		span {
			background: $blue;
			color: #fff;
			display: inline-block;
			padding: 5px 10px;
		}
	}
	.text {
		padding: 15px;
		text-align: center;
		height: 50px;
		h3 {
			color:#000;
			&:hover {
				color: $blue;
			}
		}
	}
	.date {
		padding: 15px;
		font-size: 10px;
		color: #9B9B9B;
		float: left;
		position: relative;
		margin-bottom: 10px;

	}
	.btn_more {
		float: right;
		font-size: 11px;
		padding: 7px 30px 7px 10px;
		margin-right: 10px;
		margin-top: 8px;
		&:after {
			right: 10px;
		}

	}
}
.card_merchant {
	width: calc(100% / 6.1);
	display: inline-block;
	margin: 20px 0;
	color: #000;
	font-weight: 100;
	text-align: center;
	@include transition(0.5s);
	.ratio_merchant {
		&:before {
			padding-top: 30%;
		}
		.img_con {
			img {
				height: 55%;
				margin-top: 15px;
				&.img_kecil {
					height: 100%;
					margin-top: 0;
				}
			}
		}
	}
	&.card_merchant100 {
		width: calc(100% / 4.1);
		.img_con {
			padding-top: 50px;
		}
	}
	&:hover {
		@include scale(1.2);
	}
}
.card_slidefoto {
	float: left;
	height: 700px;
	img {
		width: 100%;
	}
	.caption {
		display: block;
		padding: 15px;
		text-align: center;
		font-size: 15px;
	}
}
.card_loker {
	float: left;
	width: calc(33.3% - 2px);
	border:1px solid #fff;
	.text {
		position: absolute;
		background: rgba(0,0,0,0.5);
		color: #fff;
		top: 0;
		left: 0;
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		text-align: center;
		padding: 15px;
		h2 {
			margin-top: 100px;
			@include transition(0.5s);

		}
		.desc {
			padding: 15px 0;
			margin-bottom: 20px;
			opacity: 0;
			@include transition(0.5s);
		}
		.btn_more {
			opacity: 0;
			@include transition(0.5s);
		}
	}
	&:hover {
		.text {
			h2 {
				margin-top: 50px;
			}
			.desc,
			.btn_more {
				opacity: 1;
			}
		}
	}
}
.card_loker2 {
	text-align: left;
	padding: 12px 15px;
	h3 {
		width: 55%;
		float: left;
		font-weight: normal;
		padding: 10px 0;
	}
	.lokasi {
		float: left;
		width: 20%;
		padding: 10px 0;
		font-weight: 100;
	}
	.btn_more {
		float: right;
	}
}
.card_produk {
	position: relative;
	.img {
		float: left;
		width: 400px;
		height: 500px;
		text-align: center;
		position: relative;
		bottom: -100px;
		z-index: 10;
		> video {
			width: 270px;
			height: 480px;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			display: inline-block;
		}
		.frame_phone {
			width: 250px;
			text-align: center;
			position: relative;
			display: inline-block;
			img {
				width: 100%;
			}
			video,
			.img_ {
				width: 220px;
				height: 391px;
				position: absolute;
				top: 55px;
				left: 15px;

			}
		}
	}
	.text {
		float: right;
		width: calc(100% - 500px);
		margin-top: 130px;
		padding-right: 100px;
		font-size: 18px;
		font-weight: 100;
		line-height: 140%;
		h1 {
			font-size: 32px;
			line-height: 120%;
			margin-top: 50px;
			img {
				height: 25px;
				margin-left: 10px;
			}
		}
		h2 {
			font-size: 46px;
			font-weight: 100;
			margin-bottom: 30px;
			margin-top: 30px;
			line-height: 120%;
		}
		.img2 {
			width: 100%;
			margin-bottom: 40px;
			margin-top: 20px;
			img {
				width: 100%;
			}
		}
	}
} 


















