.detail_merchant {
	min-height: 500px;
	width: 1100px;
	margin: 0 auto;
	padding: 50px 0;
	.logo_merchant {
		height: 60px;
		margin-bottom: 80px;
		img {
			height: 100%;
		}
	}
	.alamat_merchant {
		float: left;
		margin-right: 20px;
		width: calc(25% - 20px);
		margin-bottom: 30px;
		font-weight: 100;
		min-height: 100px;
		p {
			margin: 0;
			padding: 0;
		}
		br {
			display: none;
		}

	}
}
.detail_promo {
	width: 900px;
	margin:0 auto;
	text-align: center;
	h1 {
		font-size: 42px;
		line-height: 130%;
		font-weight: bold;
		margin: 30px 0;
		text-align: center;
	}
	h2 {
		font-size: 30px;
		line-height: 130%;
		margin-bottom: 15px;
	}
	h3 {
		font-size: 22px;
		line-height: 130%;
		margin-bottom: 15px;
	}
	.duedate {
		background: $blue;
		color: #fff;
		padding: 12px 20px;
		border-radius: 100px;
		display: inline-block;
	}
	.img {
		width: 100%;
		margin: 40px 0;
		img {
			width: 100%;
		}
	}
	.text {
		font-size: 16px;
		font-weight: 100;
		text-align: left;
		padding: 0 50px;
		line-height: 140%;
		img {
			width: 100%;
			height: auto;
		}
	}
	iframe {
		width: 100%;
		min-height: 506px;
	}
}
.detail_tentang {
	width: 800px;
	margin:0 auto;
	padding: 80px 0;
	.text {
		font-size: 16px;
		font-weight: 100;
		text-align: left;
		line-height: 140%;
		img {
			width: 100%;
		}
	}
}
.detail_karir {
	padding: 30px 0;
	width: 900px;
	margin:0 auto;
	text-align: center;
	min-height: 300px;
}
.nav_left {
	float: left;
	width: 250px;
	margin-top: 30px;
	a {
		display: block;
		padding: 10px 0;
		color: #000;
		font-size: 16px;
		font-weight: 100;
		&.selected {
			font-weight: bold;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.detail_right {
	margin-top: 40px;
	float: right;
	width: calc(100% - 300px);
	font-weight: 100;
	font-size: 15px;
	line-height: 140%;
	h1 {
		margin-bottom: 30px;
		line-height: 140%;
	}
	h2 {
		padding-top: 20px;
		line-height: 140%;
	}
	&.faq_search {
		float: none;
		margin: 0 auto;
		.keyword_highlight {
			background: yellow;
		}
	}
	.result {
		margin: 20px 0;
		font-size: 18px;
		font-weight: bold;
	}
}
.detail_statik {
	font-weight: 100;
	font-size: 15px;
	line-height: 140%;
	padding: 30px 100px;
	h1 {
		margin-bottom: 30px;
	}
	h2 {
		padding-top: 20px;
	}
	.map {
		margin-bottom: 30px;
		iframe {
			width: 100%;
			height: 300px;
		}
	}
	table {
		width: 100%;
		border:1px;
		border-spacing: 0;
		border-collapse: collapse;
		td {
			padding: 5px;
		}
	}

}

.contact_left {
	float: left;
	width: 55%;
}
.contact_right {
	float: right;
	width: 35%;
	font-size: 13px;
	line-height: 140%;
	h2 {
		margin-bottom: 5px;
	}
	.cs {
		margin: 40px 0;
		font-size: 32px;
		font-weight: bold;
		span {
			font-size: 15px;
			font-weight: bold;
			display: block;
			margin-bottom: 10px;
		}
	}
}
.detail_gabung {
	padding: 40px 250px;
}
















