@mixin transition($animate) {
	-webkit-transition: all $animate ease;
	-moz-transition: all $animate ease;
	-o-transition: all $animate ease;
	transition: all $animate ease;
}
@mixin translate($x,$y) {
	-webkit-transform: translate($x,$y);
	   -moz-transform: translate($x,$y);
	    -ms-transform: translate($x,$y);
	     -o-transform: translate($x,$y);
	        transform: translate($x,$y);
}
@mixin scale($x) {
	-ms-transform: scale($x); /* IE 9 */
	-webkit-transform: scale($x); /* Chrome, Safari, Opera */
	transform: scale($x);
}
@mixin gradient_pos($color1,$color2,$pos1,$pos2,$first) {
	background: $color1; /* Old browsers */
	background: -moz-linear-gradient($pos1, $color1 $first, $color2 100%); 
	background: -webkit-linear-gradient($pos1, $color1 $first,$color2 100%); 
	background: linear-gradient(to $pos2, $color1 $first,$color2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}
@mixin gradient_dana() {
	background: rgb(43,193,246); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(43,193,246,1) 1%, rgba(19,142,233,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(43,193,246,1) 1%,rgba(19,142,233,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(43,193,246,1) 1%,rgba(19,142,233,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bc1f6', endColorstr='#138ee9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@mixin shadow($size,$alpha) {
    -webkit-box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $alpha);
    -moz-box-shadow:    0px 0px $size 0px rgba(0, 0, 0, $alpha);
    box-shadow:         0px 0px $size 0px rgba(0, 0, 0, $alpha);
}
@mixin rotate($value){
	-moz-transform: rotate($value);
	-ms-transform: rotate($value);
	-webkit-transform: rotate($value);
	transform: rotate($value);
}
@mixin shadow_color($size,$color1,$color2,$color3,$alpha) {
    -webkit-box-shadow: 0px 0px $size 0px rgba($color1,$color2,$color3, $alpha);
    -moz-box-shadow:    0px 0px $size 0px rgba($color1,$color2,$color3, $alpha);
    box-shadow:         0px 0px $size 0px rgba($color1,$color2,$color3, $alpha);
}
@mixin shadow_color_pos($size,$pos1,$pos2,$color1,$color2,$color3,$alpha) {
    -webkit-box-shadow: $pos1 $pos2 $size 0px rgba($color1,$color2,$color3, $alpha);
    -moz-box-shadow:    $pos1 $pos2 $size 0px rgba($color1,$color2,$color3, $alpha);
    box-shadow:         $pos1 $pos2 $size 0px rgba($color1,$color2,$color3, $alpha);
}
