
@media screen and (max-width: 850px) {
    .container {
        width: 100%;
    }
    #header {
        position: fixed;
        width: 100%;
        height: 30px;
        top: 0;
        left: 0;
        z-index: 10;
        @include transition(0.5s);
/*         @include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
 */        #nav {
            display: none;
            width: 100%;
        }
        .logo {
            height: 30px;
            margin-left: 20px;
            @include transition(0.5s);
            width: 75px;
            &.logo_top {
                position: relative;
                z-index: 15;
            }
        }
        #menu_ {
            display: block;
            @include transition(0.5s);
        }
        #nav {
            position: fixed;
            @include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
            z-index: 11;
            display: none;
            padding: 75px 0 30px;
            margin-top: 0;
            top: 0;
            a {
                width: calc(100% - 100px);
                margin-left: 40px;
                color: #fff;
                &.btn_download {
                    margin-left: 20px;
                    width: calc(100% - 100px);
                    background: #fff;
                    color: $blue;
                }
            }
        }
        &.header_other {
            @include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
            position: fixed;
            .logo {
                height: 70px;
            }
            #menu_ {
                span {
                    background: #000;
                }
            }
        }
        &.header_mobile_click {
            background: #fff;
        }
        .select_type {
            right: 80px;
            top: 19px;
        }
        &.smaller {
            background-color: #fff;
            height: 30px;
            #nav {
                margin-top: 0;
            }
            .logo {
                height: 30px;
            }
            .lang {
                top: 70px;
            }
            #menu_ {
                span {
                    background: #fff;
                }
            }
            .select_type {
                top: 19px;
            }
        }
    }
    .hero_cover {
        .box_img {
            &:before {
                padding-top: 150%;
            }
            .text {
                bottom: 50px;
                .img {
                    width: 250px;
                    left:calc(50% - 125px);
                    top: 60%;
                    .content_phone {
                        width: 217px;
                        height: 415px;
                        left: 16px;
                        top: 52px;
                        &:before {
                            padding-top: 200%;
                            top: 0;
                        }
                    }
                }
                .text2 {
                    position: absolute;
                    width: 80% !important;
                    left: 10%;
                    top: 0;
                    margin-top: 0;
                    h1 {
                        font-size: 26px !important;
                        .logo_replace {
                            height: 20px;
                        }
                    }
                    .tagline {
                        font-size: 30px;
                    }
                    .download {
                        margin-top: 30px;
                        a {
                            height: 40px;
                            margin-right: 5px;
                            margin-bottom: 10px;
                        }
                    }
                }
                &.text3 {
                    padding: 15px;
                    width: calc(100% - 30px);
                }
            }
            .title_cover {
                margin-top: 80px !important;
                h1 {
                    font-size: 30px;
                }
            }

        }
        .ratio4_1 {
            &:before {
                padding-top: 50% !important;
            }
        }
        &.karir_cover {
            .box_img:before {
                padding-top: 70% !important;
            }
        }
    }
    .about {
        .img {
            float: none;
            width: 90%;
            margin-left:5%;
        }
        .text {
            float: none;
            width: 90%;
            margin-left: 5%;
            margin-top: 15px;
            h2 {
                font-size: 26px;
            }
            .desc {
                font-size: 15px;
                line-height: 140%;
            }
        }
    }
    .page_title {
        h2 {
            font-size: 26px;
            padding: 0 10px;
        }
    }
    .list3 {
        width: calc(100% - 50px);
        img {
            width: 30%;
        }
        .t1 {
            font-size: 20px;
            margin: 10px 0;
            min-height: auto;
        }
    }
    .card_merchant {
        width: calc(100% / 3.1);
        margin: 12px 0;
        .ratio_merchant:before {
            padding-top: 40% !important;
        }
        &.card_merchant100 {
            width: 100%;
            display: block;
            .img_con {
                padding-top: 0;
            }
            .ratio_merchant:before {
                padding-top: 10% !important;
            }
        }
        

    }
    .area_testimoni,
    .area_promo {
        .testi_next,
        .promo_next {
            right: 0;  
            display: none !important; 
        }
        .testi_prev,
        .promo_prev {
            left: 0;   
            display: none !important;
        }
    }
    .area_testimoni {
         margin: 0px;
         .caroufredsel_wrapper {
            height: 240px !important;
         }
    }
    .secure {
        .secure_info_area {
            .circle {
                display: none;
            }
            .phone {
                position: relative;
                float: right;
                width: 150px;
                left: 0;
                margin-right: 10px;
                .frame_phone {
                    width: 150px;
                    img {
                        width: 150px;
                    }
                    
                }
                .img_secure {
                    width: 134px;
                    height: 245px;
                    left: 8px;
                    top: 27px;
                    video {
                        width: 134px;
                        height: 245px;
                    }
                }
            }
            .info_show {
                float: left;
                width: calc(100% - 200px);
                .info,
                .info:nth-child(1),
                .info:nth-child(2),
                .info:nth-child(3),
                .info:nth-child(4) {
                    width: 100%;
                    display: block;
                    position: relative;
                    text-align: left;
                    height: auto;
                    left: 30px;
                    top: 0;
                    font-size: 12px;
                    &:before {
                        right: 0;
                        top: 5px;
                        left:-20px !important;
                    }
                    .t1 {
                        font-size: 16px;
                        margin-bottom: 5px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    #footer {
         margin-top: 30px;
        .start_now {
            padding: 0 20px;
            .phone_bottom {
                width: 30%;
                margin-top: 10px;
            }
            .text {
                width: 65%;
                font-size: 20px;
                .download {
                    margin-top: 10px;
                    span {
                        font-size: 14px;
                    }
                    a {
                        width: 120px;
                        height: auto;
                        display: block;
                        margin-right: 10px;
                        img {
                            height: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .footer2 {
            padding: 15px;
            .sosmed {
                top: 15px;
                right: 10px;
                font-size: 12px;
                a {
                    height: 20px;
                }
            }
            #nav_foot {
                text-align: center;
                a {
                    font-size: 12px;
                    margin: 5px;
                }
            }
            .copy {
                font-size: 12px;
                text-align: center;
            }
        }
    }
    .card_produk {
        .text {
            float: none;
            width: calc(100% - 30px);
            padding: 15px;
            margin-top: 0px !important;
            h1 {
                font-size: 28px;
            }
            h2 {
                font-size: 22px;
            }

        }
        .img {
            float: none;
            width: 100%;
            bottom: 0;
            height: auto;
            img {
                width: 200px;
            }
        }
        &:nth-child(even) {
            .text {
                width: calc(100% - 30px) !important;
                padding: 15px!important;
            }
        }
    }
    .card_slidefoto {
        height: 320px;
    }
    .listing_loker {
        .card_loker,
        .card_loker:nth-child(4),
        .card_loker:nth-child(5),
        .card_loker:nth-child(9),
        .card_loker:nth-child(10) {
            width: calc(50% - 2px) !important;
            position: relative;
            .text {
                h2 {
                    margin-top: 10px;
                    min-height: 50px;
                }
                .desc {
                    display: none;
                }
                .btn_more {
                    display: block;
                    opacity: 1;
                    font-size: 11px;
                    padding: 8px 30px 8px 20px;
                    margin-top: 10px;
                }
            }
        }
    }
    .nav2 {
        a {
            font-size: 14px;
        }
        &.nav2a {
            a {
                font-size: 16px;
            }
        }
    }
    .detail_karir,
    .detail_promo,
    .detail_merchant  {
        padding: 15px;
        width: calc(100% - 30px);
        .filter {
            float: left;
        }

    }
    .detail_promo {
        h1 {
            font-size: 18px;
            line-height: 140%;

            margin: 5px 0;
        }
        .text {
            padding:0;
            h1 {
                font-size: 20px;
                line-height: 140%;
            }
            h2 {
                font-size: 18px;
                line-height: 130%;
                margin-bottom: 15px;
            }
            h3 {
                font-size: 16px;
                line-height: 130%;
                margin-bottom: 15px;
            }
            ul,ol {
                margin: 0;
                padding: 0;
                margin-top: 10px;
                padding-left: 18px;
                font-size: 13px;
                line-height: 130%;
                li {
                    padding-bottom: 5px;
                }
            }
            p {
                margin: 0;
                padding: 0;
                margin-bottom: 15px;
            }
        }
        iframe {
            width: 100%;
            min-height: 205px;
        }
        .duedate {
            font-size: 12px;
            padding: 8px 20px;
        }
        .img {
            margin: 10px 0;
        }
    }
    .list_loker2 .card_loker2 {
        h3,
        .lokasi {
            width: 100%;
            padding: 3px 0;
        }
        .btn_more {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }
    }
    .card_promo {
        width: calc(100% - 30px);
        .btn_more {
            z-index: 10;
        }
    }
    .detail_merchant {
        .btn_more {
            margin-top: 10px;
            font-size: 13px;
        }
    }
    .alamat_merchant {
        width: calc(50% - 20px) !important;
    }
    .hero_faq {
        .ratio4_1 {
            &:before {
                padding-top: 80% !important;
            }
        }
        .title_cover {
            margin-bottom: 0;
            h3 {
                font-size: 16px !important;
            }
        }
        .search_header {
            width: 80% !important;
            margin-top: 10px !important;
            padding: 8px 12px !important;
        }
        .nav2 {
            margin-bottom: 0;
            bottom: -30px;
            a {
                font-size: 12px;
                padding: 10px 0;
            }
        }
    }
    .nav_left,
    .detail_right,
    .detail_statik.detail__,
    .detail_statik,
    .detail_tentang,
    .detail_gabung {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
    .detail_statik {
        .contact_left,
        .contact_right {
            width: 100%;
        }
        .map {
            margin-top: 15px;
        }
    }
    .phonearea {
        display: none;
    }
    .downloadpage {
        .text {
            width: calc(100% - 30px);
            padding: 0 15px;
            margin-top: 100px;
        }
    }
    .paging_slide {
        margin: 10px 0;
        a {
            width: 10px;
            height: 10px;
        }
    }
    .area_promopage {
        min-height: 250px;
        .ratio3_1:before {
            padding-top: 60% !important;
        }
    }
    .areaslide {
        .slide1_prev,
        .slide1_next {
            display: none !important;
        }
    }
    .detail_statik {
        padding-top: 30px !important;
    }
    .card_testimoni_full {
        margin: 10px;
        .text {
            .isi {
                font-size: 13px;
                padding: 10px 20px;
                .nama {
                    font-size: 11px;
                    margin-top: 20px;
                }
            }
        }
    }

}
@media screen and (max-width: 830px) and (max-height: 430px) {
    
}



